.product{
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    .product__title{
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        padding: 20px 10px;
        h3{
            font-weight: bold;
        }
    }
    .product__search {
        display: flex;
        padding: 20px 10px;
        input{
            position: relative;
            flex: 1 1 auto;
            width: 1%;
        }
    }
    .product__content{
        padding: 10px 20px;
    }
}

